<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
    <link rel ="stylesheet" href = "/static/login.css">
</head>
<body>
  <div class = "center" >
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    
      <h1>Login</h1>
      <form method="post" >
          {%csrf_token%}
        <div class="txt_field">
            <input type="text" required name="username">
            <label>Username</label>
        </div>
        <p></p>
          <div class="txt_field">
              <input type="password" required name="password">
              <label>Password</label>
          </div><p></p>
          <input type="submit" value="Login"><p></p>
          
      </form>
  </div>
    
</body>
</html>